html, body{
  padding:0;
  margin:0;
}
.item-background{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-image:url('https://i.imgur.com/KNtY6Sb.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size:100%;
  padding-bottom: 33%;
}

.item-text{
  color:white;
  font-family: Helvetica;
  font-size:220px;
  width:100%;
  font-weight:bold;
  text-align:center;
}

.backgroundcliptext .item-text{
  background: url('https://i.imgur.com/FWsa7B3.jpg');
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0.0);
  background-position: 0 0;  
  background-size:100%;
}